
/*-------------------------------*/ 
/* --- 1. VARIABLES GLOBALES --- */
/*-------------------------------*/ 
/* Define los colores y la tipografía base del sitio. */

:root {
    --primary-color: #652bdf;
    --primary-hover: #531eca;
    --secondary-color: #31006F;
    --text-color: #2b2b2b;
    --bg-color: #ffffff;
    --bg-icon: #e4d7ff;
    --bg-body: rgb(252, 251, 255);
    --white: #ffffff;
    --gray-light: #e7eaed;
    --gray-variant:#bebebe;
    --gray-text: #666666;
    --font-main: "Inter", sans-serif;
    --max-width: 1022px;
}

/*------------------------------------------*/ 
/* --- 2. CSS RESET Y ARQUITECTURA BASE --- */
/*------------------------------------------*/ 

/* Reseteo Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Base para el Body */
body {
    font-family: var(--font-main);
    background-color: var(--bg-body);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}

/* Estilos Base para Enlaces */
a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s ease;
}

/* Reseteo de listas */
ul, ol {
    list-style: none;
}

/* Estilo Base para imagenes */
img {
    max-width: 100%;
    display: block;
}


/*------------------------------*/ 
/*--- 3. ESTILOS DEL HEADER --- */
/*------------------------------*/ 

header {
    background-color: var(--white);
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/*------------------------------*/ 
/* --- 4. LOGO Y NAVEGACIÓN --- */
/*------------------------------*/ 

/* Barra de Navegación*/
nav {
    background-color: var(--white);
    height: 75px;
    width: 100%;
    border-bottom: 1px solid var(--gray-light);
}

/* Contenedor Interno de Navegación*/
.navContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: var(--max-width);
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding-left: 60px;
    margin-right: 10px;
}

.logo img {
    height: 33.7px;
    width: auto;
}

/* Navbar Móvil */
.navContainer-Mobile {
    height: 56px;
    display: none;
    align-items: center;
    background: var(--bg-color);
    border-bottom: 1px solid var(--gray-light);
}

/* Logo Móvil */
.logoMobile {
    display: none;
}

.logoMobile img {
    height: 32px;
}

/* Menu Hamburguesa */
.menu-icon {
    display: none;
    height: 24px;
    width: 24px;
    margin-left: 20px;
}

.menu-icon svg {
    width: 100%;
    height: 100%;
    color: var(--text-color);
}

/* Lista de enlaces */
.link-List {
    display: flex;
    align-items:flex-end;
    gap: 0px;
    margin: 0;
}

.list-object {
    padding: 8px 26px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.list-object a:hover {
    color: var(--secondary-color);
    background-color: var(--bg-icon);
}

/* Grupo Derecho Header */
.right-group {
    display: flex;
    align-items: center;
    gap: 26px;
    padding-right: 20px;
}

.divider {
    width: 1px;
    height: 24px;
    background-color: var(--gray-variant);
    display: block;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 4px;
}

/*-------------------------------*/ 
/* ----- 5. BOTONES HEADER------ */
/*-------------------------------*/ 

/* Estilo base botones */
.button-header {
    padding: 6px 30px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    height: 37px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* contorno botones */
.button-line {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.button-line:hover {
    background-color: #f3eaff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

/* boton relleno */
.button-finish {
    background-color: var(--primary-color);
    color: var(--white);
    border: 1px solid var(--primary-color);
}

.button-finish:hover {
    background-color: #f3eaff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

/*---------------------------------*/ 
/* --- 6. ESTILOS DE SECCIONES --- */
/*---------------------------------*/ 

/* Banner Principal */
.hero-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3rem;
    background-color: rgb(252, 251, 255);
}

.image-banner {
    max-width: 68.5%;
    height: 100%;
    border-radius: 28px;
    height: auto;
    display: block;
    position: relative;
    top: -22px;
}

/* Contenedor de Imagen de boton carrousel */
.hero-carrousel__button {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 251, 255);
}

/* Imagen insertada de boton carrousel */
.image-carrousel__button {
    width: 800px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -18px;
    object-fit: contain;
}

/* Contenedor estandard */
.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

/* Titulo Principal */
.main-title {
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 16px;
    line-height: 1.2;
}

/* Subtitulo */
.main-subtitle {
    color: var(--gray-text);
    margin-bottom: 40px;
    font-size: 14px;
}

/* Espaciador */
.space-a {
    height: 20px;
}

.bottom-space {
    height: 80px;
}

/*----------------------------------*/ 
/* ----- 7. BOTONES GENERALES------ */
/*----------------------------------*/ 

/* Estilo de botones de contenido */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--secondary-color)
}

.btn-white {
    background-color: var(--white);
    color: var(--primary-color);
}

.btn-white:hover {
    background-color: black;
    color: #e4d7ff;
}

/*-------------------------------*/ 
/* --- 8. TARJETAS FLOTANTES --- */
/*-------------------------------*/ 

/* Bloque de tarjetas */
.cards-block {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* Tarjeta individual */
.card {
    background: var(--white);
    flex: 1;
    min-width: 280px;
    padding: 32px;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.04);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* Recuandro iconos */
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 56px;
    height: 56px;
    background: #f0eafc;
    border-radius: 8px;
    box-sizing: border-box;
}

.card:hover .icon-container {
    color: var(--secondary-color);
}

/* Titulo card */
.card h3 {
    font-size: 1.25rem;
    margin-bottom: 12px;
    font-weight: 700;
}

/* Parrafo card */
.card p {
    color: var(--gray-text);
    line-height: 1.5;
    font-size: 0.95rem;
}

/*--------------------------------*/ 
/* ----- 9. BANNERS SECTION ----- */
/*--------------------------------*/ 

.banner-stories {
    background-color: var(--secondary-color);
    border-radius: 32px;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    text-align: left;
    max-width: 930px;
    margin: 0 auto; 
}

/* Titulo del banner */
.banner-text h3 {
    font-size: 1.8rem;
    margin-bottom: 8px;
}

/* Parrafo del banner */
.banner-text p {
    font-size: 1rem;
    opacity: 0.9;
}


/*----------------------------------*/ 
/* ----- 10. METODOS DE COBRO ----- */
/*----------------------------------*/ 

.metodos-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.metodo-card {
    background: var(--white);
    border-radius: 32px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
}

.metodo-info {
    flex: 1;
}

.metodo-info h3 {
    font-size: 1.8rem;
    margin-bottom: 16px;
    font-weight: 600;
}

.metodo-info p {
    color: var(--gray-text);
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 100px;
}

.metodo-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.metodo-img img {
    max-height: 300px;
    width: auto;
    transition: transform 0.4s ease;
}

.metodo-card:hover .metodo-img img {
    transform: scale(1.05);
}

.metodo-card.reverse-layout {
    flex-direction: row-reverse;
}

/*------------------------*/ 
/* ----- 12. FOOTER ----- */
/*------------------------*/ 

/* Contenedor principal del footer */
.footer {
    background: var(--bg-color);
    padding: 24px;
}

/* Contenedor interno */
.footer-container {
    max-width: 920px;
    margin: 0 auto;
    border-bottom: 1px var(--gray-variant);
}

/* Logo de la marca */
.brand-logo {
    margin-bottom: 10px;
}

.footer-brand img {
    width: 40px;
}

/* Columnas del footer */
.footer-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Titulo de cada columna */
.footer-col h4 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--text-color);
}

/* Lista de nelaces */
.footer-col ul li {
    margin-bottom: 10px;
}

/* Enlaces individuales */
.footer-col a {
    font-size: 13px;
    color: var(--text-color);
    transition: color .2s ease;
}

.footer-col a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}



/*-----------------------------------------*/ 
/* ----- 11. MEDIA (MOVIL Y TABLETS) ----- */
/*-----------------------------------------*/ 

/* --- AJUSTES DE NAVEGACIÓN (990px) --- */
@media (max-width: 991px) {

    /* --- AJUSTES DE NAVEGACIÓN (990px) --- */
    .link-List, .right-group, .navContainer .logo { 
        display: none; 
        padding-left: 0; 
        margin-right: 0; 
    }

    .navContainer { 
        justify-content: flex-start; 
    }

    .navContainer-Mobile { 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        width: 100%; 
        height: 56px; 
        padding: 0 20px; 
    }

    .menu-icon { 
        display: flex; 
        flex-shrink: 0; 
    }

    .logoMobile { 
        display: flex; 
        flex-grow: 1; 
        justify-content: center; 
        margin: 0; 
        padding: 0; 
    }

    .navContainer-Mobile::after { 
        content: ""; 
        display: block; 
        height: 40px; 
        width: 40px; 
        flex-shrink: 0;
     }

    .logoMobile img { 
        height: 32px; 
        width: auto; 
    }

    .banner-stories { 
        flex-direction: row; 
        text-align: left; 
        justify-content: space-between; 
        align-items: center; 
        padding: 30px 40px; 
        max-width: 95%; 
        margin: 0 auto;
        min-height: 120px; 
    }
       
    .btn-white { 
        width: auto; 
        flex-shrink: 0; 
    }

    .banner-text { 
        max-width: 70%; 
    }

    .main-title { 
        font-size: 2rem; 
    }

    /* --- AJUSTES DE TARJETAS (CLAVE) --- */
    .card {
        min-width: 170px;
        flex-shrink: 0;
    }

    .cards-block {
        gap: 10px;
        padding: 0 10px;
        flex-wrap: wrap;
    }

    /* --- AJUSTES DE MÉTODOS DE COBRO (QR) --- */
    .metodo-card, .metodo-card.reverse-layout { 
        flex-direction: column-reverse; 
        text-align: center; 
        padding: 40px 24px; 
    }

    .metodo-card .metodo-img { 
        flex: none; 
        margin: 0 auto 30px auto; 
        width: 100%; 
    }

    .metodo-card .metodo-img img { 
        max-width: 100%; 
        height: auto; 
        width: auto; 
        max-height: 300px; 
    }
    
    /* --- OTROS AJUSTES DE SECCIONES GENERALES --- */
    .metodo-info { 
        text-align: center; 
    }

    .main-title { 
        font-size: 2rem; 
    }

    /* ************************************************** */
    /* --- MEDIA QUERY ESPECÍFICO PARA 767px (TABLET) --- */
    /* ************************************************** */


    @media (max-width: 767px) {

       /* Reducir y centrar la imagen del Hero Banner al 50% */
        .image-banner {
            height: auto;
            margin: 0 auto;
            top: 0; 
        }
       
        /* 1. LAYOUT DE TARJETAS */
        .cards-grid { 
            flex-direction: column; 
        }

        .card { 
            width: 100%; 
            flex-basis: 100%; 
        }

        .cards-grid .card:nth-child(3) {
            grid-column: 1 / -1;
            width: 100%; 
            max-width: 100%;
            margin: 0; 
        }

        /* 2. LAYOUT DEL FOOTER */
        .footer-columns {
            grid-template-columns: 1fr 1fr;
            gap: 32px;
        }

        .footer-container {
            text-align: center;
        }
        
        /* 3. Banner 'Historias que Vuelan'*/
        .banner-stories {
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding: 30px 20px;
            min-height: unset;
        }

        .banner-text {
            max-width: 100%;
            margin-bottom: 20px;
        }

        .btn-white {
            width: 100%;
        }
        .logoMobile {
            justify-content: center;
        }

        .brand-logo {
        /* Fuerza el div a actuar como un bloque centrado si text-align no funciona */
        display: block; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px; /* Restaura el margen original */
    }

        .brand-logo img {
            /* Asegura que la imagen dentro del div también sea centrado o se adapte */
            margin-left: auto;
            margin-right: auto;
            display: block; 
        }
    }
}